.cards__item {
    display: flex;
    flex-direction: column;
    flex-basis: min-content;
    margin-right: 100px;
    text-align: center;
  }
  
  .cards__item:nth-child(3) {
    margin-right: 0;
  }